{include file='_header.html'}

<h1>Product {$this->route->input[1]}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero mollitia necessitatibus officiis molestiae recusandae placeat molestias itaque architecto ipsa amet distinctio nihil aliquam autem veniam maiores minus quisquam vel facilis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi id molestias dolor aliquid neque impedit at quam aliquam! Neque illo laborum soluta ratione consectetur atque assumenda veritatis facere. Dolores ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequatur eaque dicta fugit officiis assumenda optio necessitatibus ipsum modi delectus repudiandae neque sequi laborum dolores aperiam deleniti illo explicabo voluptatem.</p>

{include file='_footer.html'}